<div class="container">
  <h2>View Appointments</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Complete Address</th>
        <th>Trainer Preference</th>
        <th>Physiotherapist Required</th>
        <th>Package</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of appointments">
        <td>{{ i.id }}</td>
        <td>{{ i.firstname }}</td>
        <td>{{ i.age }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.phonenumber }}</td>
        <td>
          {{ i.streetaddress + i.city + i.state + i.country + i.pincode }}
        </td>
        <td>{{ i.trainerpreference }}</td>
        <td>{{ i.physiotherapist }}</td>
        <td>{{ i.package }}</td>
        <td>{{ i.amount }}</td>
      </tr>
      <!-- Handle case where no appointments are available -->
      <tr *ngIf="appointments.length === 0">
        <td colspan="10" class="text-center">No appointments available</td>
      </tr>
    </tbody>
  </table>
</div>
