<app-header></app-header>
<main>
  <!-- Main content -->
  <div class="content">
    <h1>Welcome to Our Healthcare App</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam justo
      nec velit fermentum, sed sollicitudin risus pharetra. Proin malesuada nunc
      quis urna tempus, sed gravida eros pulvinar. Nam vehicula orci vel libero
      fermentum, at posuere enim feugiat. Nullam eget justo at neque suscipit
      malesuada.
    </p>
  </div>
</main>
<router-outlet></router-outlet>
<app-footer></app-footer>
