<div class="form-container">
  <h2>Place Appointment</h2>
  <form [formGroup]="fitnessForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-row">
      <!-- Name -->
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input
          type="text"
          id="firstname"
          class="form-control"
          formControlName="firstname"
          required
        />
      </div>
      <!-- Age -->
      <div class="form-group">
        <label for="age">Age:</label>
        <input
          type="number"
          id="age"
          class="form-control"
          formControlName="age"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          required
        />
      </div>
      <!-- Mobile No. -->
      <div class="form-group">
        <label for="phonenumber">Mobile Number:</label>
        <input
          type="tel"
          id="phonenumber"
          class="form-control"
          formControlName="phonenumber"
          required
        />
      </div>
    </div>
    <!-- Address Line 1 -->
    <div class="form-group addrline">
      <label for="streetaddress">Address Line 1:</label>
      <input
        type="text"
        id="streetaddress"
        class="form-control"
        formControlName="streetaddress"
        required
      />
    </div>
    <!-- Address Line 2 -->
    <div class="form-group addrline">
      <label for="addressline2">Address Line 2:</label>
      <input
        type="text"
        id="addressline2"
        class="form-control"
        formControlName="addressline2"
      />
    </div>
    <div class="form-row">
      <!-- City -->
      <div class="form-group">
        <label for="city">City:</label>
        <input
          type="text"
          id="city"
          class="form-control"
          formControlName="city"
          required
        />
      </div>
      <!-- State -->
      <div class="form-group">
        <label for="state">State:</label>
        <input
          type="text"
          id="state"
          class="form-control"
          formControlName="state"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <!-- Country -->
      <div class="form-group">
        <label for="country">Country:</label>
        <input
          type="text"
          id="country"
          class="form-control"
          formControlName="country"
          required
        />
      </div>
      <!-- Pin Code -->
      <div class="form-group">
        <label for="pincode">Pin Code:</label>
        <input
          type="text"
          id="pincode"
          class="form-control"
          formControlName="pincode"
        />
      </div>
    </div>
    <!-- Trainer Preference -->
    <div class="form-group">
      <label>Trainer Preference:</label><br />
      <label
        ><input
          type="radio"
          formControlName="trainerpreference"
          value="Male"
          name="trainerpreference"
        />
        Male Trainer</label
      ><br />
      <label
        ><input
          type="radio"
          formControlName="trainerpreference"
          value="Female"
          name="trainerpreference"
        />
        Female Trainer</label
      ><br />
      <label
        ><input
          type="radio"
          formControlName="trainerpreference"
          value="No Preference"
          name="trainerpreference"
        />
        No Preference</label
      >
    </div>
    <!-- Physiotherapist requirement -->
    <div class="form-group">
      <label>Physiotherapist requirement:</label><br />
      <label
        ><input
          type="radio"
          formControlName="physiotherapist"
          value="y"
          name="physiotherapist"
        />
        Yes</label
      ><br />
      <label
        ><input
          type="radio"
          formControlName="physiotherapist"
          value="n"
          name="physiotherapist"
        />
        No</label
      >
    </div>
    <!-- Select a package -->
    <div class="form-group">
      <label>Select a package:</label><br />
      <label
        ><input
          type="radio"
          formControlName="package"
          value="OneTime"
          name="package"
        />
        One Time</label
      ><br />
      <label
        ><input
          type="radio"
          formControlName="package"
          value="4Ses"
          name="package"
        />
        4 Sessions</label
      ><br />
      <label
        ><input
          type="radio"
          formControlName="package"
          value="5Ses"
          name="package"
        />
        5 Sessions</label
      ><br />
    </div>
    <!-- Weeks input -->
    <div class="form-group" *ngIf="showWeeks">
      <label for="weeks">Weeks:</label>
      <input
        type="number"
        id="weeks"
        class="form-control"
        formControlName="weeks"
      />
    </div>
    <!-- Amount -->
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input
        type="text"
        id="amount"
        class="form-control"
        formControlName="amount"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
